# GUI
numpy==1.19.5
opencv-python==4.1.0.25
PySide2==5.15.2
filterpy==1.4.5
scikit-image==0.17.2
lap==0.4.0
scikit-learn==0.21.0
pandas==1.1.5
numba==0.53.1
Cython==0.29.24
ffmpeg==1.4


# YOLOv4
matplotlib==3.3.4
Pillow==8.4.0
PyYAML==6.0
scipy==1.5.4
seaborn==0.11.2
tqdm==4.62.3
tensorboard==2.6.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.0+cu111
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.8.0
# numpy==1.19.5
# opencv-python==4.1.0.25
# Cython==0.29.24
